@font-face {
  font-family: "Neutral Face";
  src: url("NeutralFaceRegular.eot");
  src: local("Neutral Face"), local("NeutralFaceRegular"),
    url("./fonts/NeutralFaceBold.woff2") format("woff2"),
    url("./fonts/NeutralFaceBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neutral Face";
  src: url("NeutralFaceBold.eot");
  src: local("Neutral Face Bold"), local("NeutralFaceBold"),
    url("./fonts/NeutralFaceBold.woff2") format("woff2"),
    url("./fonts/NeutralFaceBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
